<% #エラーメッセージ呼び出し %>
<%= render "layouts/messages", flash: flash %>
<div class="contents-wrap">
  <div class="contents-inner">
    <div class="gray-wrap">
      <h1>複製</h1>
        <%= render "estimates/form" %>
    </div>
  </div>
</div>