<div class="contents-wrap">
    <div class="contents-inner">
        <% #エラーメッセージ呼び出し %>
        <%#= render "layouts/errors", errors: @???.errors %>
        <div class="gray-wrap">
            <h1>見積入力</h1>
            <div class="top-edit">
                <dl class="edit-wrap small">
                    <dt>見積番号</dt>
                    <dd>
                        <span class="input w100 not-edit"> 000001 </span
                        ><span class="hyphen">−</span>
                        <span class="input w50 not-edit"> 1 </span>
                    </dd>
                    <dt>見積日</dt>
                    <dd>
                        <span class="input w100"
                            ><input type="text" name="" id="" value="2020/11/1"
                        /></span>
                    </dd>
                    <dt>部門</dt>
                    <dd>
                        <span class="input contents-label"
                            ><input type="text" name="" id="" value="001"
                        /></span>
                        <span class="input w-flex not-edit"> 本社 </span>
                    </dd>
                    <dt>担当者</dt>
                    <dd>
                        <span class="input contents-label"
                            ><input type="text" name="" id="" value="0005"
                        /></span>
                        <span class="input w100 not-edit"> 広瀬愛未 </span>
                    </dd>
                    <dt>発行者</dt>
                    <dd>
                        <span class="input contents-label"
                            ><input type="text" name="" id="" value="0005"
                        /></span>
                        <span class="input w100 not-edit"> 広瀬愛未 </span>
                    </dd>
                    <dt>承認者</dt>
                    <dd>
                        <span class="input contents-label"
                            ><input type="text" name="" id="" value="0001"
                        /></span>
                        <span class="input w100 not-edit"> 長塚友和 </span>
                    </dd>
                </dl>
                <dl class="edit-wrap x2">
                    <dt>得意先</dt>
                    <dd>
                        <span class="input contents-label"
                            ><input type="text" name="" id="" value="000023"
                        /></span>
                        <span class="input w-flex">
                            <input type="text" name="" id="" value="株式会社サンテック" />
                        </span>
                    </dd>
                </dl>
                <dl class="edit-wrap x2">
                    <dt>得意先部署名</dt>
                    <dd>
                        <span class="input w100per">
                            <input type="text" name="" id="" value="公務課" />
                        </span>
                    </dd>
                    <dt>得意先担当者</dt>
                    <dd>
                        <span class="input w100per">
                            <input type="text" name="" id="" value="係長　福田" />
                        </span>
                    </dd>
                </dl>
                <dl class="edit-wrap x4">
                    <dt>納期</dt>
                    <dd>
                        <span class="input contents-label"
                            ><input type="text" name="" id="" value="1"
                        /></span>
                        <span class="input w-flex">
                            <input type="text" name="" id="" value="実働約２〜3日" />
                        </span>
                    </dd>
                    <dt>支払条件</dt>
                    <dd>
                        <span class="input contents-label"
                            ><input type="text" name="" id="" value="1"
                        /></span>
                        <span class="input w-flex">
                            <input type="text" name="" id="" value="実従来通り" />
                        </span>
                    </dd>
                    <dt>受渡場所</dt>
                    <dd>
                        <span class="input contents-label"
                            ><input type="text" name="" id="" value="1"
                        /></span>
                        <span class="input w-flex">
                            <input type="text" name="" id="" value="御社" />
                        </span>
                    </dd>
                    <dt>有効期限</dt>
                    <dd>
                        <span class="input contents-label"
                            ><input type="text" name="" id="" value="1"
                        /></span>
                        <span class="input w-flex">
                            <input type="text" name="" id="" value="1ヵ月" />
                        </span>
                    </dd>
                </dl>
                <dl class="edit-wrap x2">
                    <dt>件名</dt>
                    <dd>
                        <span class="input w100per">
                            <input type="text" name="" id="" value="三ツ星　ベルト" />
                        </span>
                    </dd>
                </dl>
                <div class="top-edit-flex">
                    <dl class="edit-wrap small">
                        <dt class="w120">備考欄</dt>
                        <dd class="w-flex">
                            <span class="input w100per">
                                <textarea
                                    value="※エンドレス品での御見積となります。"
                                ></textarea>
                            </span>
                        </dd>
                    </dl>
                    <ul class="top-button-list">
                        <li><button>保存</button></li>
                        <li><button>読込</button></li>
                        <li><button>ソート</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="contents-inner">
        <table>
            <thead>
                <tr>
                    <th>式</th>
                    <th>区</th>
                    <th>区分</th>
                    <th>メーカー</th>
                    <th>メーカー名</th>
                    <th>商品</th>
                    <th>商品名</th>
                    <th>型番</th>
                    <th>数量</th>
                    <th>単位</th>
                    <th>単価</th>
                    <th>掛率％</th>
                    <th>見積金額</th>
                    <th>定価</th>
                    <th>原単価</th>
                    <th>原価金額</th>
                    <th>粗利率％</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>0001</td>
                    <td>発注</td>
                    <td>1</td>
                    <td>三ツ星</td>
                    <td>00000000</td>
                    <td>ベルト（裏面センター）</td>
                    <td>NS82UG0/0W 100×2215E</td>
                    <td>2</td>
                    <td>本</td>
                    <td class="right">8,000</td>
                    <td>50%</td>
                    <td class="right">16,000</td>
                    <td></td>
                    <td class="right">4,000</td>
                    <td class="right">8,000</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>0001</td>
                    <td>発注</td>
                    <td>1</td>
                    <td>三ツ星</td>
                    <td>00000000</td>
                    <td>ベルト（裏面センター）</td>
                    <td>NS82UG0/0W 100×2215E</td>
                    <td>2</td>
                    <td>本</td>
                    <td class="right">8,000</td>
                    <td>50%</td>
                    <td class="right">16,000</td>
                    <td></td>
                    <td class="right">4,000</td>
                    <td class="right">8,000</td>
                    <td>50%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="contents-inner">
        <div class="gray-wrap">
            <div class="flex-wrap">
                <div class="bottom-left-wrap">
                    <dl class="edit-wrap x1">
                        <dt>仕入先</dt>
                        <dd>
                            <span class="input contents-label"
                                ><input
                                    type="text"
                                    name=""
                                    id=""
                                    value="10001
                            "
                            /></span>
                            <span class="input w-flex">
                                <input type="text" name="" id="" value="三ツ星ベルト販売" />
                            </span>
                        </dd>
                        <dt>仕様詳細</dt>
                        <dd>
                            <span class="input w100per">
                                <input type="text" name="" id="" value="表面センター付き" />
                            </span>
                        </dd>
                        <dt>明細備考</dt>
                        <dd>
                            <span class="input w100per">
                                <input type="text" name="" id="" value="エンドレス品" />
                            </span>
                        </dd>
                        <dt>明細メモ</dt>
                        <dd>
                            <span class="input w100per">
                                <input type="text" name="" id="" value="※次回より値上げ" />
                            </span>
                        </dd>
                        <dt>分類</dt>
                        <dd>
                            <span class="input w200">
                                <input type="text" name="" id="" value="ベルト" />
                            </span>
                        </dd>
                    </dl>
                </div>
                <div class="bottom-right-wrap">
                    <div class="yellow-wrap mb-medium">
                        <dl class="edit-wrap x2">
                            <dt>見積合計金額</dt>
                            <dd>
                                <span class="input w200">
                                    <input
                                        class="right"
                                        type="text"
                                        name=""
                                        id=""
                                        value="80,000"
                                    />
                                </span>
                            </dd>
                            <dt>範囲内見積金額</dt>
                            <dd>
                                <span class="input w200">
                                    <input
                                        class="right"
                                        type="text"
                                        name=""
                                        id=""
                                        value="18,000"
                                    />
                                </span>
                            </dd>
                            <dt>原価合計金額</dt>
                            <dd>
                                <span class="input w200">
                                    <input
                                        class="right"
                                        type="text"
                                        name=""
                                        id=""
                                        value="30,000"
                                    />
                                </span>
                            </dd>
                            <dt>範囲内原価金額</dt>
                            <dd>
                                <span class="input w200">
                                    <input
                                        class="right"
                                        type="text"
                                        name=""
                                        id=""
                                        value="8,000"
                                    />
                                </span>
                            </dd>
                            <dt>粗利合計金額</dt>
                            <dd>
                                <span class="input w200">
                                    <input
                                        class="right"
                                        type="text"
                                        name=""
                                        id=""
                                        value="30,000"
                                    />
                                </span>
                            </dd>
                            <dt>範囲内粗利金額</dt>
                            <dd>
                                <span class="input w200">
                                    <input
                                        class="right"
                                        type="text"
                                        name=""
                                        id=""
                                        value="8,000"
                                    />
                                </span>
                            </dd>
                            <dt>消費税金額</dt>
                            <dd>
                                <span class="input w200">
                                    <input
                                        class="right"
                                        type="text"
                                        name=""
                                        id=""
                                        value="6,000"
                                    />
                                </span>
                            </dd>
                            <dt>範囲内粗利率</dt>
                            <dd>
                                <span class="input w200">
                                    <input
                                        class="center"
                                        type="text"
                                        name=""
                                        id=""
                                        value="50%"
                                    />
                                </span>
                            </dd>
                            <dt>粗利率</dt>
                            <dd>
                                <span class="input w200">
                                    <input
                                        class="center"
                                        type="text"
                                        name=""
                                        id=""
                                        value="50%"
                                    />
                                </span>
                            </dd>
                        </dl>
                    </div>
                    <ul class="checkbox-list x3">
                        <li>
                            <input
                                type="checkbox"
                                name=""
                                id=""
                                value=""
                            />見積書の一式詳細を分類
                        </li>
                        <li>
                            <input type="checkbox" name="" id="" value="" />税込印字
                        </li>
                        <li>
                            <input
                                type="checkbox"
                                name=""
                                id=""
                                value=""
                            />プレビューしないで印刷
                        </li>
                        <li>
                            <input type="checkbox" name="" id="" value="" />定価印字
                        </li>
                        <li>
                            <input type="checkbox" name="" id="" value="" />メーカー印字
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="bottom-button-list">
                <li>
                    <button class="small">↑</button
                    ><button class="small ml-small">↓</button>
                </li>
                <li><button>前行追加</button></li>
                <li><button>後行追加</button></li>
                <li><button>行削除</button></li>
                <li><button>行複写</button></li>
                <li><button>登録</button></li>
                <li><button>見積書</button></li>
                <li><button class="small">戻る</button></li>
            </ul>
        </div>
    </div>
</div>