<div id="pdf_estimates">
  <div class="pdf-wrap">
    <div class="pdf-innner">

      <div class="flex-wrap">
        <div class="w-one-third">
        </div>
        <div class="w-one-third">
          <h1 class="title">御見積書</h1>
        </div>
        <div class="w-one-third day">
          <table class="mt-small">
            <tr>
              <td>No.</td>
              <td>1</td>
            </tr>
            <tr>
              <td>年 月 日</td>
              <td>2020/11/1</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="flex-wrap">
        <div class="w50per">
          <div class="bb pb-small">
            <div class="ml-medium">
                <span class="fs-large">株式会社スギヨ</span>
            </div>
            <div class="ml-large">
                工務課
            </div>
          </div>
          <div class="bb pb-small mt-small txt-right pr-medium">
            御担当者：　係長　福田　　様
          </div>
        </div>

        <div class="w10per">
        </div>

        <div class="w40per mt-large txt-right">
          <div class="mb-small fs-medium">
            株式会社 サンアイテック
          </div>
          <div class="fs-small">
            〒302-0034 茨城県取手市戸頭4-21-24<br>
            TEL 0297-70-2030　FAX 0297-70-2031
          </div>
        </div>
      </div>

      <div class="flex-wrap">
        <div class="w50per">
          <table class="p-zero">
            <tr>
              <td>件　名</td>
              <td>三ツ星　ベルト</td>
            </tr>
            <tr>
              <td>納　期</td>
              <td>実働約2-3日</td>
            </tr>
            <tr>
              <td>御支払条件</td>
              <td>従来通り</td>
            </tr>
            <tr>
              <td>受渡場所</td>
              <td>御社</td>
            </tr>
            <tr>
              <td>有効期限</td>
              <td>1ヶ月</td>
            </tr>
          </table>
        </div>

        <div class="w20per">
        </div>

        <div class="w30per">
          <table class="sign p-zero">
            <tr>
              <td class="square"></td>
              <td class="square"></td>
              <td class="square"></td>
            </tr>
            <tr>
              <td>広瀬　愛未</td>
              <td>広瀬　愛未</td>
              <td></td>
            </tr>
            <tr class="b-none">
              <td>担当者</td>
              <td>発行者</td>
              <td>承認</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="flex-wrap mb-none">
        <table class="list">
          <tr>
            <th>メーカー</th>
            <th>商　品　名<br>型　番</th>
            <th>数　量<br>単　位</th>
            <th>単　価<br>（定　価）</th>
            <th>金額</th>
            <th>仕　様　詳　細<br>明　細　備　考</th>
          </tr>
          <tr>
            <td>三ツ星</td>
            <td>ベルト（裏面センター）<br>NS82UG0/0W 100 × 2215E</td>
            <td>2本</td>
            <td>8,000</td>
            <td>16,000</td>
            <td>裏面センター付き<br>エンドレス品</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="sum-warp">
        <div class="sum-txt">
          合 計 金 額
        </div>
        <div class="sum">
          ¥16,000（税込金額 ¥17,600）<br>
          （消費税額　¥1,600）
        </div>
      </div>

      <div class="flex-wrap">
        <div class="w100per remarks">
          【備考欄】<br>
          ※エンドレス品でのお見積りとなります。
        </div>
      </div>

      <div class="flex-wrap">
        <div class="w30per">
          株式会社 サンアイテック
        </div>
        <div class="w70per">
          〒302-0034 茨城県取手市戸頭4-21-24　TEL 0297-70-2030　FAX 0297-70-2031
        </div>
      </div>


    </div>
  </div>
</div>