<div class="contents-wrap">
  <div class="contents-inner">
    <% #エラーメッセージ呼び出し %>
    <%#= render "layouts/errors", errors: @???.errors %>
    <div class="gray-wrap">
      <div class="heading-wrap">
        <h1>入荷入力</h1>
        <p class="top-caution-text">１件のデータが抽出されました</p>
      </div>
      <div class="top-edit">
        <dl class="edit-wrap small">
          <dt>発注番号</dt>
          <dd>
            <span class="input w200"
              ><input type="text" name="" id="" /></span
            ><span class="hyphen">　~　</span>

            <span class="input w200"
              ><input type="text" name="" id=""
            /></span>
          </dd>
          <dt>仕入先</dt>
          <dd>
            <span class="input contents-label w100"
              ><input type="text" name="" id="" value="000000"
            /></span>
            <span class="input w200 not-edit"> </span>
          </dd>
          <dt>担当者</dt>
          <dd>
            <span class="input contents-label w100"
              ><input type="text" name="" id="" value="0005"
            /></span>
            <span class="input w200 not-edit"> 広瀬愛未 </span>
          </dd>
        </dl>
        <dl class="edit-wrap x2">
          <dt>受注番号</dt>
          <dd>
            <span class="input"
              ><input type="text" name="" id="" value="000002"
            /></span>
          </dd>
          <dt>型番</dt>
          <dd>
            <span class="input w-flex">
              <input type="text" name="" id="" />
            </span>
          </dd>
        </dl>
        <dl class="edit-wrap x2">
          <dt><strong>仕入伝票日付</strong></dt>
          <dd>
            <span class="input w150">
              <input type="text" name="" id="" value="11/1/20" />
            </span>
          </dd>
          <dt></dt>
          <dd class="top-button-list">
            <button>検索</button>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="contents-inner">
    <table>
      <thead>
        <tr>
          <th>　</th>
          <th>出荷</th>
          <th>品名</th>
          <th>型番</th>
          <th>仕入先</th>
          <th>単価</th>
          <th>数量</th>
          <th>単位</th>
          <th>金額</th>
          <th>区分</th>
          <th>メーカー非表示</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ー</td>
          <td></td>
          <td>油性塗料（住友グリーン）</td>
          <td>SR-425</td>
          <td>株式会社はがた</td>
          <td class="right">10,000</td>
          <td class="right">3</td>
          <td>缶</td>
          <td class="right">30,000</td>
          <td>受注品</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="contents-inner">
    <div class="page002-bottom-button-wrap">
      <div class="button-group border">
        <p class="title"><span class="inner">入荷</span></p>
        <ul class="bottom-button-list">
          <li><button>全てON</button></li>
          <li><button>全てOFF</button></li>
        </ul>
      </div>
      <div class="button-group">
        <ul class="bottom-button-list">
          <li><button>登録</button></li>
          <li><button>戻る</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>