<div class="contents-wrap">
    <div class="contents-inner">
        <% #エラーメッセージ呼び出し %>
        <%#= render "layouts/errors", errors: @???.errors %>
        <div class="gray-wrap">
            <h1>現金出納帳入力</h1>
            <div class="top-edit">
                <dl class="edit-wrap small">
                    <dt>入力日</dt>
                    <dd>
                        <span class="input w100"
                            ><input type="text" name="" id="" value="2016年4月1日"
                        /></span>
                    </dd>

                    <dt>部門</dt>
                    <dd>
                        <span class="input contents-label"
                            ><input type="text" name="" id="" value="001"
                        /></span>
                        <span class="input w100 not-edit"> 本社 </span>
                    </dd>
                    <dt>社員No</dt>
                    <dd>
                        <span class="input w100 not-edit">0001 </span>
                    </dd>
                    <dt>氏名</dt>
                    <dd>
                        <span class="input w100per"
                            ><input type="text" name="" id="" value="長塚友和"
                        /></span>
                    </dd>
                    <dt>読み</dt>
                    <dd>
                        <span class="input w100per"
                            ><input type="text" name="" id="" value="ナガツカトモカズ"
                        /></span>
                    </dd>
                    <dt>マスタキー</dt>
                    <dd>
                        <span class="input w100per">
                            <input type="text" name="" id="" value="" />
                        </span>
                    </dd>
                </dl>
                <dl class="edit-wrap x4">
                    <dt>所属部署</dt>
                    <dd>
                        <span class="input w100per"
                            ><input type="text" name="" id="" value="営業部"
                        /></span>
                    </dd>
                    <dt>役職</dt>
                    <dd>
                        <span class="input w100per"
                            ><input type="text" name="" id="" value="代表取締役"
                        /></span>
                    </dd>
                </dl>
                <dl class="edit-wrap x4 mb-small">
                    <dt>購入日</dt>
                    <dd>
                        <span class="input w100per"
                            ><input type="text" name="" id="" value=""
                        /></span>
                    </dd>
                    <dt>購入先</dt>
                    <dd>
                        <span class="input w100per"
                            ><input type="text" name="" id="" value=""
                        /></span>
                    </dd>
                    <dt>適用</dt>
                    <dd>
                        <span class="input w100per"
                            ><input type="text" name="" id="" value=""
                        /></span>
                    </dd>
                    <dt>勘定科目</dt>
                    <dd>
                        <span class="input w100per"
                            ><input type="text" name="" id="" value=""
                        /></span>
                    </dd>
                </dl>
                <div class="top-edit-flex mb-medium">
                    <dl class="edit-wrap small">
                        <dt></dt>
                        <dd></dd>
                    </dl>
                    <ul class="top-button-list">
                        <li><button>カード</button></li>
                        <li><button>現金</button></li>
                        <li><button>振込</button></li>
                    </ul>
                </div>

                <div class="top-edit-flex ml0">
                    <dl class="edit-wrap small w50per">
                        <dt class="w120">備考欄</dt>
                        <dd class="w-flex ml0">
                            <div class="w100per">
                                <span class="input w100per upper">
                                    <input type="text" name="" id="" value="" />
                                </span>
                                <span class="input w100per upper lower">
                                    <input type="text" name="" id="" value="" />
                                </span>
                                <span class="input w100per lower">
                                    <input type="text" name="" id="" value="" />
                                </span>
                            </div>
                        </dd>
                    </dl>
                    <dd class="ml0 w50per">
                        <dl class="edit-wrap x2 w100per">
                            <dt>入力者</dt>
                            <dd>
                                <span class="input w100per"
                                    ><input type="text" name="" id="" value=""
                                /></span>
                            </dd>
                            <dt>支払月</dt>
                            <dd>
                                <span class="input w100per"
                                    ><input type="text" name="" id="" value=""
                                /></span>
                            </dd>
                        </dl>
                        <dl class="edit-wrap x2 w100per">
                            <dt>金額</dt>
                            <dd>
                                <span class="input w100per"
                                    ><input type="text" name="" id="" value=""
                                /></span>
                            </dd>
                            <dt>消費税</dt>
                            <dd>
                                <span class="input w100per"
                                    ><input type="text" name="" id="" value=""
                                /></span>
                            </dd>
                        </dl>
                    </dd>
                </div>
                <div class="top-edit-flex">
                    <dl class="edit-wrap small">
                        <dt></dt>
                        <dd></dd>
                    </dl>
                    <ul class="top-button-list">
                        <li><button>新規登録</button></li>
                        <li><button>保存</button></li>
                        <li><button>ソート</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="contents-inner">
        <table>
            <thead>
                <tr>
                    <th>方法</th>
                    <th>部門</th>
                    <th>氏名</th>
                    <th>支払月</th>
                    <th>購入日</th>
                    <th>購入先</th>
                    <th>適用</th>
                    <th>勘定科目</th>
                    <th>金額（税込）</th>
                    <th>消費税</th>
                    <th>合計</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>現金</td>
                    <td>1</td>
                    <td>長塚友和</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    　　　　　
                    <td></td>
                    <td></td>
                    <td>済</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>