@charset "utf-8";
@import "./normalize";
@import "./reset";
@import "./menus";
@import "./employee_informations";
/*parts*/
.heading-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1 {
    font-weight: bold;
    margin-bottom: 20px;
}
h3 {
    text-align: center;
}
a.button:hover {
    background-color: #333;
    color: #fff;
}
.top-caution-text {
    font-size: 14px;
    color: #a11;
    text-align: end;
}
button {
    padding: 2px 5px;
    border: 1px solid #666666;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    &:not(.small) {
        min-width: 120px;
    }
    &.small {
        min-width: 60px;
    }
    &:hover {
        opacity: 0.7;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    border-bottom: 1px solid #666;
}
th,td {
    min-height: 16px;
    padding: 2px 5px;
    border: 1px solid #666;
    &:not(.right){
        text-align: center;
    }
    &.right {
        text-align: right;
    }
}
th {
    background-color: #f0f0f0;
}
.upper-row th:not([rowspan="2"]),
.upper-row td:not([rowspan="2"]) {
    border-bottom: none;
}
.lower-row th,
.lower-row td {
    border-top: 1px solid #ccc;
}
.not-active td {
    color: #bbb;
}
.gray-wrap {
    padding: 24px;
    background-color: #ddd;
}
.yellow-wrap {
    padding: 16px;
    background-color: #ffff67;
}

.edit-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    dt {
        text-align: center;
        strong {
            color: #a11;
        }
    }
    dd {
            display: flex;
    }
    &.x1,
    &.x2,
    &.x4,
    &.small {
        .not-edit {
            background-color: #ccc;
        }
        .hyphen {
            padding-right: 8px;
            padding-left: 4px;
            text-align: center;
        }
    }
    &.x1,
    &.x2,
    &.x4 .x2 {
        .contents-label {
            width: 100px;
            border-right: none;
        }
    }
    &.x4,
    &.small {
        :not(.x2) { 
            .contents-label {
                width: 50px;
                border-right: none;
            } 
        }
    }
    &.x1 {
        input, select, textarea　{
            font-size: 16px;
        }
        dt, dd {
            font-size: 14px;
        }
        dt {
            width: 100px;
            &:nth-of-type(n+2) {
                margin-top: 8px;
            }
        }
        dd {
            width: calc(100% - 100px);
            &:nth-of-type(n+2) {
                margin-top: 8px;
            }
        }
    }
    &.x2 {
        margin-right: -8px;
        dt, dd {
            font-size: 12px;
        }
        input, select, textarea　{
            font-size: 12px;
        }
        dt {
            width: 120px;
            &:nth-of-type(n+3) {
                margin-top: 8px;
            }
        }
        dd {
            width: calc(50% - 128px);
            margin-right: 8px;
            &:nth-of-type(n+3) {
                margin-top: 8px;
            }
        }
    }
    &.x4 {
        margin-right: -8px;
        dt, dd {
            font-size: 12px;
        }
        input, select, textarea　{
            font-size: 12px;
        }
        dt {
            width: 120px;
        }
        dd {
            width: calc(25% - 128px);
            &.x2 {
                width: calc(50% - 128px);
            }
            margin-right: 8px;
        }
    }
    &.small {
        dt, dd {
            font-size: 12px;
        }
        input, select, textarea　{
            font-size: 12px;
        }
        dt {
            &.w120 {
                width: 112px;
            }
        }
        dd {
            margin-left: 8px;
            &:not(:last-of-type) {
            margin-right: 16px;
            }
        }
    }
    .input {
        display: inline-block;
        min-height: 24px;
        padding: 2px 5px;
        border: 1px solid #666;
        background-color: #fff;
        input {
            width: 100%;
            height: 100%;
            border: none;
            &.right {
                text-align: right;
            }
            &.center {
                text-align: center;
            }
        }
        &.upper {
            border-bottom: none;
        }
        &.lower {
            border-top: 1px solid #aaa;
        }
    }
}
.checkbox-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    &.x3 {
        li {
            width: calc(33.33% - 8px);
            &:nth-child(n+4) {
                margin-top: 8px;
            }
            &:not(:nth-child(3n+1)){
                margin-left: 8px;
            }
        }
    }
}
/*グラフ*/
.graph-wrap {
    width: calc(50% - 20px);
}



/*ログインページ*/
.login-button {
    text-align: center;
    margin-top: 20px;
    button {
        font-size: 16px;
    }
}



/*メニュー*/
.menu-button {
    display: flex;
    flex-wrap: wrap;
    margin: -20px -40px 0 0;
    li {
        width: calc(50% - 40px);
        margin: 20px 40px 0 0;
    }
    .button {
        display: block;
        text-align: center;
        width: 100%;
        padding: 5px;
        color: #333;
        font-size: 18px;
        background-color: #fff;
        border: 1px solid #333;
        border-radius: 2px;
    }
}





/*レイアウト*/
.contents-wrap {
    width: 1400px;
    margin: auto;
    padding: 24px;
    &.small-size {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 100vh;
    }
}
.contents-inner {
    &:nth-of-type(n+2) {
        margin-top: 16px;
    }
}
.flex-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.top-edit {
    .edit-wrap:nth-of-type(n+2) {
        margin-top: 8px;
    }
}
.top-edit-flex {
    display: flex;
    flex-wrap: wrap;
    .edit-wrap {
        width: calc(50% - 4px);
        margin-top: 8px;
        textarea {
            width: 100%;
            border: none;
            font-size: 14px;
        }
    }
}
.top-button-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex: 1 1 0%;
    li {
        &:nth-child(n+2) {
            margin-left: 8px;
        }
    }
}
.bottom-left-wrap {
    width: 500px;
    margin-right: 24px;
}
.bottom-right-wrap {
    flex: 1 1 0%;
}
.bottom-button-list {
    display: flex;
    justify-content: space-between;
}

/*汎用css*/
.ml0 {
    margin-left: 0!important;
}
.ml-small {
    margin-left: 12px;
}
.ml-medium {
    margin-left: 24px;
}
.ml-large {
    margin-left: 36px;
}
.mb-small {
    margin-bottom: 12px;
}
.mb-medium {
    margin-bottom: 24px;
}
.mb-large {
    margin-bottom: 36px;
}
.w50per {
    width: 50%!important;
}
.w100per {
    width: 100%!important;
}
.w-flex {
    flex: 1 1 0%!important;
}
.w50 {
    width: 50px!important;
}
.w100 {
    width: 100px!important;
}
.w120 {
    width: 120px!important;
}
.w200 {
    width: 200px!important;
}
.w800 {
    width: 800px!important;
}


/*個別CSS*/
.page002-bottom-button-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    .button-group {
        width: 25%;
        padding: 16px;
        &.border {
            border: #333 solid 1px;
        }
        .title {
            font-size: 14px;
            margin-top: -26px;
            margin-bottom: 8px;
            .inner {
                display: inline-block;
                padding: 0 8px;
                background-color: #fff;
            }
        }
    }
}
.page005_bottom_button {
    display: flex;
    justify-content: center;
        .bottom-button-list {
        width: 50%;
    }
}
.page008_bottom-right {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
}



.page203_bottom-left-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
}