<% if errors.any? %>
  <div class="error">
  <% errors.full_messages.each do |message| %>
    <%= message %></br>
  <% end %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="success">
    <%= flash[:notice] %>
  </div>
<% end %>

<style>
  .error{
    background: #f7cbd3;
    padding: 10px 30px;
  }
  .success{
    background: #c6ffc6;
    padding: 10px 30px;
  }
</style>