<% if flash[:error].present? %>
  <% flash[:error].each do |message| %>
      <div class="alert error"><%= message %></div>
  <% end %>
<% end %>

<% if flash[:success].present? %>
  <div class="alert success"><%= flash[:success] %></div>
<% end %>


<style>
  .alert{
    padding: .5px 30px;
  }
  .error{
    background: #f7cbd3;
  }
  .success{
    background: #c6ffc6;
  }
</style>